html {
    background-color: aquamarine;
}

p {
    color: rgb(8, 24, 69);
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(8, 24, 69);
}

button {
    background-color: rgb(126, 205, 234);
    border: 4px solid rgb(8, 24, 69);
    padding: 10px 20px;
    cursor: pointer;
}

square {
    border: solid 2px rgb(8, 24, 69);
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
}